/public/.idea/
/node_modules/
/.idea/*
/.idea/**
/cs2-admin.iml
/.idea/
/.idea/
/.idea/vcs.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/codeStyles/codeStyleConfig.xml
/.idea/.gitignore
/.idea/codeStyles/
