@import "../../../../styles/variables";


  .main-section {
    flex-basis: auto;
    flex-grow: 1;
    /*width: auto;
    height: 100%;*/

    .p-toolbar {
      border: none !important;
    }

    hr {
      width: 96%;
    }
  }

