@import "../../styles/variables";

.main-section {
  height: 100%;
  flex-basis: auto;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  .header {
    width: 96%;

    .p-toolbar {
      display: table-cell;
      border: none !important;
      //width: 96%;
      vertical-align: middle;
      padding: 0px;
      margin: 0px;

      .p-toolbar-group-right {
        margin: 0px;

        .p-button {
          margin-left: 16px;
          margin-right: 0px;

          .p-button-text {
            color: $primary-text-color4;
          }

        }
      }
    }
  }

  hr {
    width: 96%;
  }

  .base-data-section {
    height: auto;
    flex-grow: 2;
    .profile-main {
      height: 100%;
      display: flex;
      //justify-content: space-between;
      justify-content: space-around;
      width: 97%;
      margin: 0 auto;

      .edit-grid-left {
        display: flex;
        flex-direction: column;
        width: 44%;
        .edit-grid-main {
          background-color: $primary-block-back-color!important;
          border-radius: 10px;
          margin: 0px 20px 20px 0px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 223px;
          .edit-grid-logo {
            background-image: linear-gradient(transparent 3px, $primary-hr-color 0px),
            linear-gradient(90deg, $primary-hr-color 1px, transparent 1px, transparent 1px),
            linear-gradient($primary-hr-color 1px, transparent 1px, transparent 1px),
            linear-gradient(90deg, transparent 1px, transparent 3px, $primary-hr-color 0.5px);
            background-size: 5vw 5px, 1px 5vw, 5vw 1px, 5px 5vw;
            background-position: 0 100%, 0 100%, 100% 0, 100% 0;
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            width: 178px;
            height: 178px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin-left: 20px;
            .account-logo {
              width: 170px;
              height: 170px;
              border-radius: 50em;
              margin-left: 20px;
              margin-right: 20px;
            }
            .delete-logo {
              align-self: flex-start;
              position: absolute;
              min-width: 26px;
              background-color: transparent;
              color: $primary-text-color1;
              .pi.pi-check.p-c.p-button-icon-left:before {
                content: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM3.46 8.88L4.87 7.47L7 9.59L9.12 7.47L10.53 8.88L8.41 11L10.53 13.12L9.12 14.53L7 12.41L4.88 14.53L3.47 13.12L5.59 11L3.46 8.88ZM10.5 1L9.5 0H4.5L3.5 1H0V3H14V1H10.5Z' fill='%23C2C2C4'/%3E%3C/svg%3E ");
              }
            }
          }
          .edit-grid-info {
            font-family: Lato;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 17px;
            margin-left: 20px;
            vertical-align: top;
            p {
              color: $primary-text-color3;
              font-size: 24px;
              line-height: 29px;
              margin-bottom: 10px;
            }
            span {
              color: $primary-text-color2;
              display: inline-block;
              margin-bottom: 20px;
            }
            tr {
              td {
                color: $primary-text-color2;
                padding-right: 5px;
              }
            }
          }
        }

        .edit-grid-password {
          background-color: $primary-block-back-color!important;
          border-radius: 10px;
          margin: 0px 20px 20px 0px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          height: 227px;
          p {
            font-family: Lato;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 19px;
            color: $primary-text-color3;
            padding-left: 10px;
          }
          .edit-grid-container {
            display: flex;
            color: $primary-text-color3;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            .p-inputtext.p-component, .p-autocomplete.p-component {
              width: 100%;
              background-color: $primary-color-input;
              color: $primary-text-color3;
              border: 0.5px solid $primary-color-input-border!important;
              border-radius: 3px;
              font-family: Lato;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              border: none;
              .p-inputtext.p-component {
                width: calc(100% - 20px);
                border: none!important;
              }
              .p-button.p-component {
                background-color: $primary-button-color;
                border: none;
                min-width: 20px;
                width: 20px;
                //margin-top: 3px;
                span {
                  color: $primary-text-color3;
                }
              }
              .p-autocomplete-panel.p-input-overlay {
                background-color: $primary-back-color;
                border: none;
                .p-autocomplete-list-item {
                  color: $primary-text-color3;
                  font-family: Lato;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 17px;
                  margin: 5px 0px 5px 0px;
                }
                .p-autocomplete-list-item:hover {
                  background-color: $primary-table-header;
                }
              }

            }
            .p-col-6 {
              display: flex;
              padding: 0px;
            }
          }
        }
      }

      .edit-grid-right {
        background-color: $primary-block-back-color!important;
        border-radius: 10px;
        //margin: 0px 20px 20px 0px;
        width: 54%;
        //width: 760px;
        height: 586px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          font-family: Lato;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
          color: $primary-text-color3;
          padding-left: 10px;
        }
        .edit-grid-container {
          display: flex;
          color: $primary-text-color3;
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          .p-disabled {
            background-color: $primary-color-input-disabled!important;
          }
          .p-inputtext.p-component, .p-autocomplete.p-component {
            width: 100%;
            background-color: $primary-color-input;
            color: $primary-text-color3;
            border: 0.5px solid $primary-color-input-border!important;
            border-radius: 3px;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            border: none;
            .p-inputtext.p-component {
              width: calc(100% - 20px);
              border: none!important;
            }
            .p-button.p-component {
              background-color: $primary-button-color;
              border: none;
              min-width: 28px;
              width: 28px;
              //margin-top: 3px;
              span {
                color: $primary-text-color3;
              }
            }
            .p-autocomplete-panel.p-input-overlay {
              background-color: $primary-back-color;
              border: none;
              .p-autocomplete-list-item {
                color: $primary-text-color3;
                font-family: Lato;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                margin: 5px 0px 5px 0px;
              }
              .p-autocomplete-list-item:hover {
                background-color: $primary-table-header;
              }
            }

          }
          .p-col-6 {
            display: flex;
            padding: 0px;
          }
        }
      }
    }
  }
}