@import "../../../styles/variables";
.loading-button {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .p-progress-spinner {
    height: 100%;
    .p-progress-spinner-circle {
      stroke: red;
    }
  }
  .loading-button-base {
    height: 100%;
    width: 100%;



    .loading-button-spinner {
      margin: 0px 10px 0px 0px;
      height: 90%;
    }
  }
}

.p-button {
  .pi-spinner {
    //color: black;
    font-size: 20px;
  }
}

